<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'concept_map:node_list' %}">Nodes</a></li>
            <li><a href="{% url 'concept_map:node_create' %}">New Node</a></li>
            <li><a href="{% url 'concept_map:connection_create' %}">New Connection</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}Default Content{% endblock %}
    </main>
</body>
</html>
